# obtained from https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
/build/

.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

node_modules/
