<button class="btn btn-primary" href="#/">Home</button>

<h1>{{article.title}}</h1>

<div>
	<a ng-click="upvoteArticle()"><span class="glyphicon glyphicon-arrow-up"></span></a>
	<h3>{{article.votes}}</h3>
	<a ng-click="downvoteArticle()"><span class="glyphicon glyphicon-arrow-down"></span></a>
</div>

<h2><a href="{{article.URL}}">{{article.URL}}</a></h2>
<h3>{{article.user}}</h3>

<br>
<br>

<div ng-repeat="comment in article.comments">
	<div ng-if="comment.user">
		<h3>{{comment.user}}</h3>
		<h4>{{comment.date}}</h4>
		<br>
		<a ng-click="upvoteComment(comment.commentid)"><span class="glyphicon glyphicon-arrow-up"></span></a>
		<h3>{{comment.votes}}</h3>
		<a ng-click="downvoteComment(comment.commentid)"><span class="glyphicon glyphicon-arrow-down"></span></a>
		<br>
		<h5>{{comment.body}}</h5>
		<br>
		<button class="btn btn-primary" ng-click="delete(comment.commentid)">Delete</button>
		<button class="btn btn-primary" ng-click="edit(comment.commentid)">Edit</button>
	</div>
</div>

<br>

<h3>Respond to this Article!</h3>
<form>
    <div class="form-group">
        <label>UserName</label>
        <textarea class="form-control" ng-model="newComment.user"></textarea>
    </div>
    <div class="form-group">
        <label>Date</label>
        <textarea class="form-control" ng-model="newComment.date"></textarea>
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" ng-model="newComment.body"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Submit" ng-click="submit()"></input>
</form>
