<div class="jumbotron">
    <a class="btn btn-primary" href="/#/">Home</a>
    <h1>{{article.title}}</h1>
    <p>Submitted by: &nbsp;{{article.user}}</p>
</div>

<h2>Original Comment</h2>
<h4>User: {{comment.user}}</h4>
<h4>Date: {{comment.date}}</h4>
<br>
<p>Body: {{comment.body}}</p>
<br>

<h2>Please make your edits here.</h2>
<form>
    <div class="form-group">
        <label>User</label>
        <textarea class="form-control" ng-model="newComment.user" value="comment.user"></textarea>
    </div>
    <div class="form-group">
        <label>Date</label>
        <textarea class="form-control" ng-model="newComment.date" value="comment.date"></textarea>
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" ng-model="newComment.body" value="comment.body"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Submit" ng-click="turnIn()"></input>
</form>
