<div class="jumbotron">
    <h1>Redigg Home Page</h1>
    <p class="lead">The hub for all your linking needs.</p>
    <a href="/#/add-article" class="btn btn-primary">Create New Article</a>
</div>

<form>
    <div class="form-group">
        <label for="query">Search for articles: </label>
        <input type="text" class="form-control" id="query" placeholder="Search By Article Title" ng-model="searchQuery" value="searchQuery">
    </div>
    <button class="btn btn-primary" ng-click="searchByTitle()">Search</button>
    <button class="btn btn-secondary" ng-click="resetSearch()">Reset</button>
</form>

<br>

<div ng-repeat='article in articles'>
    <div class="card text-center">
        <div class="card-header">
            <div class="row justify-content-around">
                <p>Votes: {{article.votes}}</p>
                <p>Submitted by: {{article.user}}</p>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{article.title}}</h2>
            <a href={{article.URL}} class="btn btn-primary">Go To Article</a>
            <a href="/#/viewcomments/{{article._id}}" class="btn btn-secondary">Go To Comments</a>
            <button class="btn btn-danger" ng-click="delete(article._id)">Delete Article</a>
        </div>
    </div>
</div>
