<div class="jumbotron">
    <h1>Redigg Home Page</h1>
    <p class="lead">The home for all your linking needs.</p>
    <a href="/#/add-article" class="btn btn-primary">Create New Article</a>
</div>

<div ng-repeat='article in articles'>
    <div class="card text-center">
        <div class="card-header">
            <div class="row justify-content-around">
                <p>Votes: {{article.votes}}</p>
                <p>Submitted by: {{article.user}}</p>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{article.title}}</h2>
            <a href={{article.URL}} class="btn btn-primary">Go To Article</a>
            <a href="" class="btn btn-secondary">Go To Comments</a>
            <a href="" class="btn btn-danger">Delete Article</a>
        </div>
    </div>
</div>
